.link-section{
    margin-left: 15pc;
    display: inline-block;

}

.links{
    float: left;
    margin-left: 7pc;
    margin-top: -5pc;

}
.title{
    font-size: 22px;

}
h2{
    font-size: 32px;
}
.links p:hover{
    color: #00A99D;
}
.social-section{
    width: 250px;
    margin-top: -18.5pc;
    margin-left: 52pc;
}
.icons{
    font-size: 26px;
    margin-top: 12px;
    margin-left: 12px;
    color: #00A99D;
}
.footer-section{
    padding: 4pc 4pc 15pc 4pc;
    margin-top: 4pc;
    display: inline-block;

}